{% extends 'base.html.twig' %}

{% block title %}New Challenges{% endblock %}

{% block body %}
    <h1>Create new Challenges</h1>

    {{ include('challenges/_form.html.twig') }}

    <a href="{{ path('app_challenges_index') }}">back to list</a>
{% endblock %}
