body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    height: 100vh;
}

.container {
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: 1600px;
}

.card {
    border: none;
    border-radius: 1.25rem;
    background: #f7f7f7;
}

.card-img-left {
    width: 45%;
    background: scroll center url('https://images.pexels.com/photos/1590549/pexels-photo-1590549.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
}
  
.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}
  
.btn-google {
    color: white !important;
    background-color: #ea4335;
}
  
.btn-facebook {
    color: white !important;
    background-color: #3b5998;
}