<footer>
	<small>&copy; 2024 Typographix</small>
	<div class="social-icons">
		<a href="#">
			<i class="fa-brands fa-facebook-f" title="Facebook"></i>
		</a>
		<a href="#">
			<i class="fa-brands fa-x-twitter" title="Twitter (X)"></i>
		</a>
		<a href="#">
			<i class="fa-brands fa-instagram" title="Instagram"></i>
		</a>
		<a href="#">
			<i class="fa-brands fa-linkedin-in" title="LinkedIn"></i>
		</a>
	</div>
</footer>
